<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-sclae=1.0" />
        <title>Documento</title>
        <link rel="stylesheet" href="../../public/css/site.css" />
        <link rel="stylesheet" href="../../public/css/navbar.css" />
        <script src="../../public/js/site.js"></script>
    </head>
    <body>
        {{>_navbar}}
        {{{body}}}
        {{>_footer}}
    </body>
</html>